
.navbar{
    background-color: aqua;
}
.navbar-nav{
    margin-left: 200px;
}
.nav-link{
    padding: 25px;
}

   .background{ background-image: url(educa1.jpg);
    background-size:cover;
}
    span
    {color:rgb(219, 226, 230);
    font-family: 'PT Serif', serif;
    text-decoration: underline;
    }
    ul
    {    text-align: right;
        list-style-type: none;
        line-height: 30px;
        margin-right: 50px;
    }
    li
    {
        display: inline-block;
    }
    a
    {
        float: right;
        display: block;
        color: white;
        text-decoration: none;
        margin-right: 50px;
    }
    a:link
    {color:lightskyblue;
        }
    a:visited
    {color: rgb(54, 221, 221);
        
    }
    a:hover
    {color:white;
    
    }
    a:active
    {color:teal;
    }

    /* .navbar
    {
        background-color: black;
        width: 100%;
        height: 60px;
        font-weight: bold;
        font-family: sans-serif;
        line-height: 60px;
        overflow: hidden;
        text-decoration: none;
        padding: 0px;
        position:relative;
        animation-name:content;
        animation-duration:1s;
        animation-fill-mode:backwards;
      ]} */
    p{
        text-decoration-line: underline;
        font-family: 'Lobster', cursive;
    }
    .form
    {
    background-color: rgb(173, 201, 228);
    position:absolute;bottom:15px;right:500px;
    border-radius: 5px;
    
}
.table
{
    border-collapse:collapse;
    margin:25px;
    font-size:0.9cm;
    min-width:400px;
}
.table thead tr{
    background-color:#089175;
    color:white;
    text-align: left;
    font-weight: bold;
}
.table th,
.table td 
{ 
    padding:14px 16px;
}
.table tbody tr:nth-of-type(even)
{
 background-color:#aedad1;
}